/* YOUR CUSTOM STYLES */
.view {
    background: url("/img/img (40).jpg")no-repeat center center;
    background-size: cover;
}
    
.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.jumbotron{
    margin-top: 75px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}